.hexagon-lattice {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);

}

::ng-deep .empty-div {
    width: 30px;
    height: 30px;

    background-color: transparent;
}

::ng-deep .hexagon {
    //make the shape hexagonal with flat top
    clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
    width: 55px;
    height: 55px;
    //centre text
    display: flex;
    justify-content: center;
    align-items: center;


}

// ::ng-deep div {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

::ng-deep .black-tile {
    background-color: rgb(88, 38, 38);
    border: 1px solid rgb(88, 38, 38);
}

::ng-deep .white-tile {
    background-color: rgb(227, 194, 138);
    border: 1px solid rgb(227, 194, 138);
}

::ng-deep .grey-tile {
    background-color: grey;
    border: 1px solid grey;
}

::ng-deep .blue-tile {
    background-color: blue;
    border: 1px solid blue;
}

::ng-deep .selected-tile {
    background-color: red;
    border: 1px solid red;
}

::ng-deep .valid-move-tile {
    background-color: orange;
    border: 1px solid orange;
}

::ng-deep .white {
    color: white;
}

::ng-deep .black {
    color: black;
}

::ng-deep img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

::ng-deep .check {
    color: green;
}

::ng-deep #end-card {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //make text big
    font-size: 2em;

}

::ng-deep .end-card-text {
    //add white border on text
    -webkit-text-stroke: 1px white;
    color: black;
    //make text big
    font-size: 2em;
    border: 1px solid white;
}